.product__review {
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #333;
}

.product__review__info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.product__review__username {
  font-size: 1.8rem;
  font-weight: 300;
  display: block;
  margin-bottom: 0.5rem;
}

.product__review__rating {
  font-size: 1.8rem;
  font-weight: 300;
  display: block;
}

.product__review__date {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
}

.product__review__text {
  font-size: 2.2rem;
}

.product__review__helpful {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.product__review__helpful__text {
  font-size: 1.8rem;
}

.product__review__helpful__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.product__review__helpful__btn__container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.product__review__helpful__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product__review__helpful__svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #333;
}

.product__review__helpful__svg__active {
  color: #f03e3e;
}

.product__review__helpful__number {
  font-size: 1.8rem;
}
