.checkout__flex__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #333;
}

.checkout__container__total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.checkout__total {
  font-size: 2rem;
  font-weight: 500;
}
