.auth__verify__section {
  padding-top: 12rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__verify__text {
  font-size: 2.5rem;
}

.auth__verify__text::after {
  content: none;
}
