.auth__message__section {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
}

.auth__message__text {
  font-size: 2.4rem;
  text-transform: none;
}

.auth__message__text::after {
  content: none;
}

.auth__message__link {
  font-size: 2.4rem;
  color: #333;
}
