.auth__grid {
  padding-top: 12rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  column-gap: 5rem;
}

@media screen and (max-width: 915px) {
  .auth__grid {
    grid-template-columns: 0.7fr 1.3fr;
  }
}

@media screen and (max-width: 700px) {
  .auth__grid {
    grid-template-columns: 1fr;
  }
}
