span {
  display: block;
}

.cart__items__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.cart__item__container {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid #333;
}

.cart__item__container:last-child {
  border-bottom: none;
}

.cart__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

.cart__item__controls__mobile {
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  display: none;
  visibility: hidden;
}

.cart__item__container__img {
  width: 6rem;
  height: 12rem;
}

.cart__item__img {
  width: 100%;
  height: auto;
}

.cart__item__info {
  width: 20rem;
}

.cart__item__name {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 0.4rem;
}

.cart__item__brand {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.cart__item__selected__quantity {
  font-size: 2rem;
  font-weight: 500;
}

.cart__item__price {
  font-size: 2rem;
  font-weight: 500;
}

.cart__item__quantity__controller {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.cart__item__quantity__controller__mobile {
  justify-content: space-between;
  display: none;
}

.cart__item__button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #f03e3e;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__item__svg {
  width: 2rem;
  height: 2rem;
  color: #f03e3e;
}

.cart__item__quantity {
  font-size: 2rem;
  font-weight: 500;
}

.cart__item__remove {
  background-color: transparent;
  color: #f03e3e;
  font-size: 2rem;
  font-weight: 400;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.cart__warning__stock {
  font-size: 1.8rem;
  color: #f03e3e;
  font-weight: 500;
}

.cart__total__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart__total {
  font-size: 2rem;
  font-weight: 400;
  display: block;
  margin-bottom: 2rem;
}

.cart__checkout {
  background-color: #f03e3e;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.cart__item__selected__quantity__mobile {
  font-size: 1.4rem;
  display: none;
  visibility: hidden;
}

.cart__item__price__mobile {
  font-size: 1.4rem;
  display: none;
  visibility: hidden;
}

.cart__item__container__mobile {
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  display: none;
}

.cart__item__remove__mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  visibility: hidden;
}

.cart__item__remove__mobile__smaller {
  display: none;
  visibility: hidden;
}

.cart__item__remove__svg {
  width: 1.8rem;
  height: 1.8rem;
  color: #333;
}

@media screen and (max-width: 850px) {
  .cart__item {
    padding: 3rem;
  }

  .cart__item__container__img {
    width: 4rem;
    height: 11rem;
    display: flex;
    align-items: center;
  }

  .cart__item__info {
    width: 18rem;
  }

  .cart__item__name {
    font-size: 1.8rem;
    border-bottom: 0.2rem;
  }

  .cart__item__brand {
    font-size: 1.4rem;
  }

  .cart__item__selected__quantity {
    font-size: 1.8rem;
  }

  .cart__item__price {
    font-size: 1.8rem;
  }

  .cart__item__quantity__controller {
    gap: 2rem;
  }

  .cart__item__svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .cart__item__quantity {
    font-size: 1.8rem;
  }

  .cart__item__remove {
    font-size: 1.8rem;
  }

  .cart__total {
    font-size: 1.8rem;
  }

  .cart__checkout {
    font-size: 1.8rem;
    padding: 0.6rem 1rem;
  }
}

@media screen and (max-width: 640px) {
  .cart__item {
    padding: 3rem;
  }

  .cart__item__container__img {
    width: 3.5rem;
    height: 10rem;
    display: flex;
    align-items: center;
  }

  .cart__item__info {
    width: 18rem;
  }

  .cart__item__name {
    font-size: 1.6rem;
    border-bottom: 0.2rem;
  }

  .cart__item__brand {
    font-size: 1.4rem;
  }

  .cart__item__selected__quantity {
    font-size: 1.6rem;
  }

  .cart__item__price {
    font-size: 1.6rem;
  }

  .cart__item__quantity__controller {
    gap: 1.6rem;
  }

  .cart__item__svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .cart__item__quantity {
    font-size: 1.6rem;
  }

  .cart__item__remove {
    font-size: 1.6rem;
  }

  .cart__total {
    font-size: 1.6rem;
  }

  .cart__checkout {
    font-size: 1.6rem;
    padding: 0.6rem 1rem;
  }
}

@media screen and (max-width: 570px) {
  .cart__items__container {
    gap: 1.5rem;
  }

  .cart__item {
    padding: 1.5rem;
  }

  .cart__item__info {
    margin-left: 3rem;
  }

  .cart__item__container__mobile {
    display: flex;
  }

  .cart__item__brand {
    text-transform: capitalize !important;
  }

  .cart__item__selected__quantity__mobile {
    display: block;
    visibility: visible;
  }

  .cart__item__price__mobile {
    display: block;
    visibility: visible;
  }

  .cart__item__selected__quantity {
    display: none;
    visibility: hidden;
  }

  .cart__item__price {
    display: none;
    visibility: hidden;
  }

  .cart__item__quantity__controller {
    gap: 1rem;
  }

  .cart__item__button {
    padding: 0.2rem;
    border-radius: 0.5rem;
  }

  .cart__item__svg {
    width: 1.4rem;
    height: 1.4rem;
  }

  .cart__item__remove {
    display: none;
  }

  .cart__item__remove__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
  }
}

@media screen and (max-width: 425px) {
  /* .cart__item__info {
    width: 16rem;
  } */

  .cart__item__controls__mobile {
    display: flex;
  }

  .cart__item__quantity__controller {
    display: none;
  }

  .cart__item__quantity__controller__mobile {
    display: flex;
    visibility: visible;
  }

  .cart__item__remove__mobile {
    display: none;
  }

  .cart__item__remove__mobile__smaller {
    display: flex;
  }
}
