.checkout__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 5rem;
}

@media screen and (max-width: 620px) {
  .checkout__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .checkout__form__mobile {
    grid-row: 2 / 3;
  }
}

.unavailable__message {
  display: block;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
