.cart__container__placeholder {
  width: 100%;
}

.cart__placeholder__text {
  font-size: 2rem;
  font-weight: 400;
}

.cart__placeholder__link {
  color: #333;
}

@media screen and (max-width: 840px) {
  .cart__placeholder__text {
    font-size: 1.6rem;
  }
}
